body {
  padding: 2% 3%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: grid;
  gap: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="button"],
form button[type="submit"],
#signUpButton {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="button"]:hover,
form button[type="submit"]:hover,
#signUpButton:hover {
  background-color: #0056b3;
}

#contactFields div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#contactFields select,
#contactFields input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

#contactFields button {
  background-color: #dc3545;
}

#contactFields button:hover {
  background-color: #c82333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
